// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 160 to 700

.readex-pro-<uniquifier> {
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "HEXP" 0;
}